@using Milliygram.Service.DTOs.Users
@model UserCreateModel

@{
    ViewBag.Title = "Register";
}
<br />
<br />
<h2 class="text-center">Register</h2>

@* Display service error *@
@if (ViewData["ServiceError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@ViewData["ServiceError"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex justify-content-center">
    <form class="custom-width" asp-action="Register" method="post">
        <!-- First Name input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input asp-for="FirstName" class="form-control border" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <label class="form-label" for="FirstName">First Name</label>
        </div>

        <!-- Last Name input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input asp-for="LastName" class="form-control border" />
            <span asp-validation-for="LastName" class="text-danger"></span>
            <label class="form-label" for="LastName">Last Name</label>
        </div>

        <!-- UserName input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input asp-for="UserName" class="form-control border" />
            <span asp-validation-for="UserName" class="text-danger"></span>
            <label class="form-label" for="UserName">UserName</label>
        </div>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input asp-for="Email" class="form-control border" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <label class="form-label" for="Email">Email</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input asp-for="Password" type="password" class="form-control border" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <label class="form-label" for="Password">Password</label>
        </div>

        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Register</button>

        <!-- Login buttons -->
        <div class="text-center">
            <p>Already a member? <a asp-controller="Accounts" asp-action="Login">Login</a></p>
        </div>
    </form>
</div>