@using Milliygram.Service.DTOs.Users
@model ResetPasswordRequest

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>

<div>
    @if (ViewData["ServiceError"] != null)
    {
        <div class="alert alert-danger">@ViewData["ServiceError"]</div>
    }

    <form asp-action="ForgotPassword" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" asp-for="Email" required />
        </div>
        <button type="submit" class="btn btn-primary">Send Verification Code</button>
    </form>
</div>
