@using Milliygram.Service.DTOs.Users
@model UserViewModel

@{
    Layout = "_Layout";
}


<div class="page-wrapper chiller-theme">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <main>
        <h1>Welcome</h1>
    </main>
</div>