@using Milliygram.Service.DTOs.Users
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

<div>
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-success">@ViewData["Message"]</div>
    }

    @if (ViewData["ServiceError"] != null)
    {
        <div class="alert alert-danger">@ViewData["ServiceError"]</div>
    }

    <form asp-action="ResetPassword" method="post">
        <div class="form-group">
            <label for="newpassword">New Password</label>
            <input type="password" class="form-control" id="newpassword" asp-for="NewPassword" required />
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmpassword" asp-for="ConfirmPassword" required />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
